
.args {
  .ant-radio-group {
    margin: 10px 0 20px 0;
  }
  .ant-collapse-content-box {
    text-align: left;
    padding: 12px 16px !important;
  }

  .ant-collapse {
    width: 90%;
    margin: 0 auto;
    .ant-collapse-item {
      background: #f7f7f7;
      border-radius: 4px;
      margin-bottom: 16px;
      overflow: hidden;
      border: 1px solid gray;
      &.ant-collapse-item-active {
        .ant-collapse-header {
          color: #087DE9;
        }
      }
      .ant-collapse-header {
        outline: none;
        text-align: left;
        //font-size: 18px;
        font-weight: bold;
        &:focus {
          outline: none;
        }
      }
      .ant-collapse-content {
        border-top: 1px solid gray;
      }
    }
  }

  .args-item {
    text-align: left;
    margin: 10px 0;
    display: flex;
    align-items: center;
    .ant-input-number {
      width: 100px;
    }
    .args-item-name {
      margin: 0;
      font-weight: bold;
    }
    .args-item-values {
      margin: 0 18px;
      & > div {
        display: inline-block;
        margin: 0 10px;
        span {
          margin-right: 8px;
        }
        .ant-input-number-handler > span {
          margin-right: 0;
        }
      }
    }
    .args-item-value {
      margin: 0 18px;
    }
    .args-unit {
      font-weight: bold;
    }
  }

  .mkconfig-item {
    display: inline-block;
    margin-right: 30px;
  }

  .mainlist .ant-collapse-content-box {
    & > button {
      width: 100%;
    }
    .ant-btn-group {
      width: 100%;
      & > button {
        width: calc(10% + 0.9px);
      }
    }
  }

  .mainlist-item {
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 20px;
    .mainlist-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid gray;
      padding: 6px 6px 6px 16px;
      & > span {
        font-size: 14px;
        font-weight: bold;
      }
    }
    .mainlist-args {
      padding: 12px 16px;
      .mainlist-arg-item {
        display: inline-block;
        margin-right: 36px;
        .args-item-name {
          margin-right: 20px;
          font-weight: bold;
        }
      }
    }
  }
}