
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  user-select: none;
}

.model, .args, .trans, .conf, .about {
  text-align: center;
  display: none;
  position: fixed;
  top: 70px;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
  padding: 40px 0;
  &.active {
    display: block;
  }
}

.small-input.ant-input-number {
  width: 58px;
  margin-right: 16px;
}

.ant-radio-button-wrapper-checked {
  border-color: #1890ff !important;
  background-color: #1890ff !important;
  color: white !important;
}